* {
  padding: 5px;
  margin: 0;

  font-family: 'Times New Roman', Times, serif;
}

div.alert {
  padding: 8px;
  border-radius: 6px;
  text-align: center;
  height: 30px;
}

div.error {
  background-color: rgb(196, 107, 107);
  color: rgb(255, 0, 0);
}

div.info {
  background-color: rgb(91, 163, 223);
  color: rgb(17, 0, 255);
}

div.warning {
  background-color: rgb(245, 240, 166);
  color: rgb(255, 174, 0);
}

div.success {
  background-color: rgb(146, 255, 146);
  color: rgb(0, 116, 10);
}

select {
  height: 30px;
  border-radius: 6px;
}

button {
  height: 40px;
  border-radius: 6px;
  font-size: 15px;
  margin-left: 3px;
}

button.primary {
  border-color: blue;
  background-color: rgb(79, 79, 223);
  color: white;
}

button.primary:hover {
  background-color: rgb(51, 51, 221);
  font-weight: bold;
  cursor: pointer;
}

button.primary:click {
  background-color: rgb(39, 39, 163);
}

button.second {
  background-color: rgb(241, 231, 90);
  border-color: rgb(255, 174, 0);
  color: rgb(255, 174, 0);
}

button.second:hover {
  background-color: rgb(230, 218, 53);
  font-weight: bold;
  color: rgb(196, 134, 1);
  cursor: pointer;
}

button.second:click {
  background-color: rgb(150, 144, 63);
}

button.third {
  background-color: rgb(172, 86, 252);
  color: rgb(120, 48, 187);
  border-color: rgb(120, 48, 187);
}

button.third:hover {
  background-color: rgb(158, 73, 238);
  font-weight: bold;
  cursor: pointer;
}

button.third:click {
  background-color: rgb(104, 26, 177);
}

button.fourth {
  background-color: rgb(252, 86, 86);
  color: rgb(150, 23, 23);
  border-color: rgb(255, 0, 0);
}

button.fourth:hover {
  background-color: rgb(253, 62, 62);
  font-weight: bold;
  cursor: pointer;
}

button.fourth:click {
  background-color: rgb(126, 54, 54);
}

input {
  height: 30px;
  margin: 4px;
  border-radius: 6px;
  font-size: 18px;
  border-color: rgb(228, 225, 225);
}

div.card div.md6-0 {
  border-radius: 6px;
}

div.card {
  border: 1px solid gray;
  border-radius: 6px;
  padding: 5px;
}
